<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{{ "../assets/lib/easing/easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../assets/lib/wow/wow.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../assets/lib/owlcarousel/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../assets/lib/isotope/isotope.pkgd.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../assets/lib/lightbox/js/lightbox.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../assets/lib/waypoints/waypoints.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../assets/lib/counterup/counterup.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../assets/lib/slick/slick.min.js" | prepend: site.baseurl }}"></script>

<!-- Template Javascript -->
<script src="../assets/js/main.js"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/613778af649e0a0a5cd50ce1/1ff0av60n';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
