<head>
    <meta charset="utf-8">
    <title>Falcon Pattern | Manufacturing all kind of Industrial patterns</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Pattern Manufacturer" name="keywords">
    <meta content="Pattern Manufacturer" name="description">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{{ "../assets/lib/flaticon/font/flaticon.css" | prepend: site.baseurl }}" rel="stylesheet"> 
    <link href="{{ "../assets/lib/animate/animate.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "../assets/lib/owlcarousel../assets/owl.carousel.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "../assets/lib/lightbox/css/lightbox.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "../assets/lib/slick/slick.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "../assets/lib/slick/slick-theme.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ "../assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
</head>
